// General Colors
$brown: #AE9875;
$brown-light: #E1DDD7;

$black: #000000;
$black-like: #1D1E25;
$blue: #243C66;
$blue-light: #0076BE;

$grey: #585858;
$grey-hardest: #101828;
$grey-heavy: #475467;
$grey-middle: #949494;
$grey-light: #FAFAFA;

$white: #ffffff;

// Mobile Breakpoints
$extra-large: 1200px;
$large: 992px;
$medium: 768px;
$small: 576px;
